
# Core web and API
fastapi
uvicorn
httpx
pydantic
starlette

# Database
sqlalchemy
psycopg2-binary

# Environment
python-dotenv


# Vector DB and AI
# sentence-transformers
pinecone
langchain
langchain-huggingface
langchain-text-splitters
langchain-core


# File handling
PyPDF2
python-docx
pandas
aiofiles
aiohttp
pdfplumber
docx
cuid
python-multipart

# Other
typing-extensions
